body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    color: #590b58;
    margin: 0;
    padding: 20px;
}

.card {
    background: #d9bfdb;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
}

h1 {
    color: #9769d8;
    font-size: 28px;
}

button {
    background-color: #7d5ea4;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #9b9a9c;
    transform: scale(1.05);
}

.hidden {
    display: none;
}

.story-text {
    font-size: 15px;
    margin: 15px 0;
}

img {
    width: 420px;
    border-radius: 50px;
    margin-top: 10px;
}

.final-message {
    font-size: 20px;
    font-weight: bold;
    color: #e91e63;
    margin-top: 20px;
}

/* ---- Estilos para los botones finales ---- */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}


#yesBtn, #noBtn {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
}

#responseMessage {
    font-size: 18px;
    color: #ff4081;
    margin-top: 15px;
    font-style: italic;
}
