
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: di-apple-system;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff3;
}
.profile_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 270px;
    width: 100%;
    background: #fff3;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    position: relative;
}

.profile_card::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #78aed7;
}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #944ae85c;
    padding: 3px;
    margin-bottom: 10px;

}

.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff3;
}

.profile_card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#333;

}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
}

.text-data .ocupation{
    font-size: 15px;
    font-weight: 400;
}

.profile_card .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media-buttons .link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #A65F46;
    text-decoration: none;

}